<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="action_page.php" method="post">
    <!-- <div class="imgcontainer">
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->
  
    <div class="container">
      <label for="uname"><b>Usuário</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Senha</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">ENTRAR</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Lembrar de mim
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancelar</button>
      <span class="psw"> <a href="#"> Esqueceu a senha?</a></span>
    </div>
  </form> 
</ion-content>
