<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="#FFFFFF">

  <div class="container">
    <ion-grid class="grid-login">
      <ion-row className="ion-align-items-center">
        <ion-col class="title-login">
          <strong class="title-login-todo">Todo</strong><strong class="title-login-list">List</strong>
        </ion-col>
        <ion-col>
          <img src="assets/todo-list-img.png" alt="" class="ml-3" class="img-fluid" class="rounded float-left">
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-button type="button" color="#3B2D59" class="btn-login" expand="full" [routerLink]="['/home']" routerLinkActive="router-link-active" >Login</ion-button>
          <ion-button type="button" color="#3B2D59"  class="btn-login" expand="full">Registro</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>
