.title-login{
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
}

.title-login-todo{
  color: #216AFF;
}

.title-login-list{
  color: #C025FF;
}

.grid-login{
  margin-top: 90px;
}

.btn-login{
  background-color: #3B2D59;
}