.title-login{
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
}

.title-login-todo{
  color: #216AFF;
}

.title-login-list{
  color: #C025FF;
}

.grid-login{
  margin-top: 90px;
}

.btn-login{
  background-color: #3B2D59;
}

.container-login{
  margin: 9px;
  border: #CCC solid 1px;
  box-shadow: 1px 2px 10px rgb(1, 1, 1, 0.4);
  background-color : #FFFFFF;
}

ion-content{
  --background : #F0F4FD;
}
