<ion-header [translucent]="true">

  <ion-toolbar class="ion-align-items-center">  
    <ion-icon class="ion-margin-top" size="large" name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
    <ion-title class="title-trash">Lixeira</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let item of todoList; let i = index" class="ion-margin">
    <ion-card-header>
      
      <ion-card-subtitle [style.color]="item.priority === 'high' ? 'red' : (item.priority === 'low' ? 'green' : 'orange')">
        {{item.category}}
      </ion-card-subtitle>

      <ion-item>
        <ion-icon *ngIf="item.priority === 'high'" color="danger" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.priority === 'low'" color="success" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.priority === 'middle'" color="warning" size="small" name="ellipse"></ion-icon>
        <ion-label> {{ item.name}}</ion-label>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-label>Data {{item.date | date:'fullDate'}}</ion-label>
    </ion-card-content>

  </ion-card>
</ion-content>