<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="container container-register">
    <ion-grid class="grid-register">
      <ion-row className="ion-align-items-center">
        <ion-col class="title-register">
          <strong class="title-register-todo">Registro</strong>
        </ion-col>
       
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" name="login"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" name="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar Senha</ion-label>
            <ion-input type="password" name="confirm-password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-button type="button" color="#3B2D59" class="btn-register" expand="full" [routerLink]="['/login']" routerLinkActive="router-link-active" >Registrar</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>
